# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Angular build
dist/
build/

# Environment files
src/environments/*.ts
!src/environments/environment.ts

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Angular cache
.angular/cache/

# Coverage
coverage/

# Compiled files
*.tsbuildinfo

# Firebase (si usas)
.firebase/

# Misc
.tmp/
.temp/
